# Ignore everything in the bin directory
bin/*
# But not the bin directory itself
!bin/

# Ignore the cache directory
./.cache/
.cache/
.cache/*
./.cache/*

# Ignore build directory
/build/

LICENSE
README.md

CMakeCache.txt
CmakeFiles/

.vscode/
*.swp
